//canvas {
//  z-index: 0;
//  // #TODO -- lower canvas
//  position: fixed !important;
//  top: 0;
//  left: 0;
//}

.contentWrapper {
  &.hidden{
    display: none;
  }
  &.showing{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-grow: 1;
    -webkit-animation: fade-up .5s .25s ease-out forwards; /* Safari 4+ */
    -moz-animation:    fade-up .5s .25s ease-out forwards; /* Fx 5+ */
    -o-animation:      fade-up .5s .25s ease-out forwards; /* Opera 12+ */
    animation:         fade-up .5s .25s ease-out forwards; /* IE 10+, Fx 29+ */
  }
  &.hiding{
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-grow: 1;
    -webkit-animation: fade-down .5s .25s ease-out forwards; /* Safari 4+ */
    -moz-animation:    fade-down .5s .25s ease-out forwards; /* Fx 5+ */
    -o-animation:      fade-down .5s .25s ease-out forwards; /* Opera 12+ */
    animation:         fade-down .5s .25s ease-out forwards; /* IE 10+, Fx 29+ */
  }
}
.segueWrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 50px;

  button{

  }
}


.content {
  max-width: 100rem;
  padding: $page-margin / 2;
  text-align: left;
  animation-name: reveal-text;
  animation-iteration-count: $iteration;
  animation-duration: $reveal-duration;
  animation-fill-mode: both;
  animation-timing-function: $animationCurve;

  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#countdown, .timeTo{
  font-size: 24px !important;
}
